<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SiteUrl" value="https://int.soccerway.com"/>
	</appSettings>
  <connectionStrings>
    <add name="UserWebApp" connectionString="[your connectionString]" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>